# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
/public/storybook
/storybook-static

# misc
.DS_Store
/.vscode/*
!/.vscode/extensions.json
.idea/
.eslintcache
tsconfig.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env*
!.env.example

# vercel
.vercel

# Build info
.build-info.json

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Emails
.react-email

# playwright
/test-results/
/playwright-report/
/playwright/.cache/

# next-pwa
**/public/workbox-*.js*
**/public/sw.js*
**/public/worker-development.js*

# Certificates and security
certs/
*.pem
*-certs.sh

# Logs and backups
log.txt
logstash/pipeline/*.conf
logstash/data/*
*.backup